$quote-text: #ad2d12;
$primary-light: #fff;
$background: #33665b;
$text-link: #44b1c8;
$buttom-link: #a39f77;
$link-hover: #615d3a;

html {
  height: 100%;
}
body {
  background: linear-gradient($background, #000);
  color: #000;
}

a {
  color: $text-link;
}
a:hover {
  color: $primary-light;
}

h1 {
  padding-top: 24px;
  font-family: 'Charm', cursive;
  color: $primary-light;
  text-shadow: 2px 2px 2px #212529;
  font-size: 3em;
}

h1, footer, #quote-box {
  margin: auto;
  max-width: 800px;
}

blockquote {
  background: $primary-light;
  color: $quote-text;
}

#tweet-quote img {
  height: 25px;
}

.btn {
  height: 100%;
  background-color: $buttom-link;
  font-weight: 600;
}

.btn:hover {
  background: $link-hover;
}

.hovertip {
  position: relative;
  display: inline-block;
}

.hovertip .hovertiptext {
  visibility: hidden;
  background-color: #212529;
  color: $primary-light;
  text-align: center;
  padding: 5px 0;
  margin: 0;
  position: absolute;
  z-index: 1;
  width: 150px;
  top: 108%;
  left: 0;
}

.hovertip:hover .hovertiptext {
  visibility: visible;
}

.hovertiptext.hovertip-right{
  left: unset;
  right: -1px;
}

@media only screen and (max-width: 500px) {
  h1{
    font-size: 2.25em;
    padding-top: 12px;
  }
}