$primary-dark: #ad2d12;
$primary-light: #ff7f3a;
$secondary-dark: #33665b;
$secondary-light: #44b1c8;
$white: #ffddee;

body {
  background: $secondary-dark;
  color: #000;
}

a {
  color: $secondary-light;
}

h1 {
  font-family: 'Charm', cursive;
  color: #fff;
  text-shadow: 2px 2px 2px #212529;
  font-size: 3em;
}

h1, footer, #quote-box {
  margin: auto;
  max-width: 800px;
}

blockquote {
  background: #fff;
  color: $primary-dark;
  border-radius: 6px;
}

#tweet-quote img {
  height: 25px;
}

.btn {
  height: 100%;
}

.hovertip {
  position: relative;
  display: inline-block;
}

.hovertip .hovertiptext {
  visibility: hidden;
  background-color: #212529;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  margin: 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  width: 150px;
  top: 108%;
  left: 0;
}

.hovertip:hover .hovertiptext {
  visibility: visible;
}

.hovertiptext.hovertip-right{
  left: unset;
  right: 0;
}